.chat-list {
    width: 30vw;
    height: 75vh;
    padding: 0;
    margin: 10px;
    overflow: scroll;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    background-image: linear-gradient(120deg, #f6d465a9 0%, #fd9f8594 100%);
    flex-direction: column;
    align-items: center;
    list-style: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.562);
}

.join-room-h1 {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.534);
    font-size: 30px;
    padding: 0;
    color: white;
}

.chat-list:hover {
    transition: .75s;
}

.join-room {
    background: rgba(0, 0, 0, 0.158);
    width: 100%;
}