@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto';
    color: white;
    background: rgb(46, 46, 46);
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}
